name: Deploy
on:
  push:
    branches:
      - 'master'
jobs:
  gradle:
    runs-on: ubuntu-latest
    env:
      NEOCITIES_API_KEY: ${{ secrets.NEOCITIES_API_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: |
            8
            11
            21
      - name: Get Version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-overwrite-existing: true
      - name: Gradle publish
        run: ./gradlew --stacktrace -Pneocities.apiKey=${{ secrets.NEOCITIES_API_KEY }} personal-site:run
